[user]
	name = Michael Lisitsa
	email = michael@lisitsa.dev

[difftool]
    prompt = true

[diff]
    tool = nvimdiff

[merge]
    tool = nvimdiff

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"
[core]
	editor = nvim -f
