[user]
    name = Michael Lisitsa
    email = michael@lisitsa.dev

[difftool]
    prompt = true

[diff]
    tool = nvimdiff

[merge]
    tool = nvimdiff
    conflictStyle = zdiff3

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"
[core]
    editor = nvim -f
    pager = delta

[interactive]
    diffFilter = delta --color-only

; brew install git-delta
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
